.left {
    float:left;
    height:100vh;
    position: absolute;
    top: 0px;
    z-index: 2;
}

.left {
    background: #337ab7;
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
}

.item:hover {
    background-color:#ccc;
}

.item {
    height:50px;
    overflow:hidden;
    color:#fff;
}

.glyphicon {
    margin:15px;
    width:20px;
    color:#fff;
}

span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
}