<div class="left">
    <div class="item" (click)="onClick()">
        <span class="glyphicon glyphicon-th-large"></span>
        Dashboard</div>
    <div class="item active" (click)="onClick()">
        <span class="glyphicon glyphicon-th-list"></span>
        List</div>
    <div class="item" (click)="onClick()">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout</div>
    <div class="item" (click)="onClick()">
        <span class="glyphicon glyphicon-log-in"></span>
        Login</div>
    <div class="item" (click)="onClick()">
        <span class="glyphicon glyphicon-random"></span>
        Random</div>
    <div class="item" (click)="onClick()">
        <span class="glyphicon glyphicon-remove"></span>
        Remove</div>
</div>